<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/bootstrap-switch.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="header">
        <p>
            <input type="checkbox" name="download-version" checked data-size="large">
        </p>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap-switch.min.js"></script>
    <script>
        $('input:checkbox').bootstrapSwitch();
    </script>
</div>
</body>
</html>