<!DOCTYPE html>
<html lang="en">
<head>
    <script src="static/js/jquery.min.js"></script>
    <link href="static/css/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link rel="stylesheet" type="text/css" href="static/css/green/style.css">
    <script src="static/js/index.js" type="text/javascript"></script>
    <script src="static/js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap-switch.min.js"></script>

</head>
<body>

<form id="form">
    {% for key,values in data.items %}
        <div id="{{ key }}">
            {{ key }} :
            {% for value in values %}
                &nbsp {{ value }} <input type="checkbox" name="{{ value }}" {% if forloop.first %}checked {% endif %}>
                {{ c }}
            {% endfor %}
        </div>
    {% endfor %}
    <br>
</form>

<input type="button" class="btn btn-success btn-xs" value="Add group" onclick="add_group()">
<input type="button" class="btn btn-success btn-xs" value="Toggle duplicate values" onclick="toggle_duplicates()">
<input type="button" class="btn btn-warning btn-xs" value="Clear groups" onclick="clear_groups()">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="btn btn-success btn-xs"
       value="Analyse selected groups"
       onclick="analyze_selected_experiments()">


<br><br>

<div id="groups-div" class="invisible_div">
    Current groups:<br>
</div>

<br><br>

<div id="results-div">
    Results will appear here
</div>
<br>

</body>
</html>