<table class="table table-nonfluid table-hover table-bordered table-condensed tablesorter" border="1" width="500">
    {{ description }} <br>
    <thead>
    <tr>
        {% for h in header %}
            <th class="header"> {{ h }} </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            {% for x in row %} {# row.get_some_info #}
                <td> {{ x }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
